@using SocialMedia.BLL.ModelVM
@using SocialMedia.DAL.Entities
@model List<GetAllPostsVM>


<table id="myTable" class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th> <!-- Column for the buttons -->


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Title</th>
                <td>@item.Description</td>
                <td>
                    <!-- Edit Button -->
                    @Html.ActionLink("Edit", "Update", new { id = item.ID }, new { @class = "btn btn-secondary" })

                    <!-- Delete Button -->
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>

